// alterante rows
// assign clas to parent div
/ 
// render out content for speech bubble
/ %p= comment.text

-if @count == 1
	.triangle-right{:class => 'left'}
		%p= comment.text
		%p posted by:
		%p= comment.user.name
		- @count = @count * -1
-else
	.triangle-right{:class => 'right'}
		%p= comment.text
		%p= comment.user.name
		- @count = @count * -1






