// alterante rows
// assign clas to parent div
/ 
// render out content for speech bubble
/ %p= comment.text

-if @count == 1
	.avatar{:class => 'left'}
		%img(src="#{comment.user.avatar.url(:thumb)}")
	.triangle-right{:class => 'left'}
		%p= comment.text
		- @count = @count * -1
-else
	.triangle-right{:class => 'right'}
		%p= comment.text
	.avatar{:class => 'right'}
		%img(src="#{comment.user.avatar.url(:thumb)}")
	.clearfix
		- @count = @count * -1







